<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="style.css"/>
    <title>GUITAR WORLD</title>
</head>
<body>
    <div class="main_container">
        <header class='row'>
            <div class="header_left">
                <a class="name" href="index.html">
                    <img class="header_img" src="./image/guitar.png"alt="">
                    <span >GUITAR WORLD</span>
                 </a>
            </div>
            <div class="header_right">
                <a href="Cart.html">Cart</a>
                <a href="SignIn.html">SignIn</a>
            </div>
        </header>
        <main>
            <div class="row center">
                <div class="card">
                    <a href="product.html">
                        <!-- img size:680px X 830 px -->
                        <img class="medium" src="./image/Kadence Frontier.jpeg" alt="Kadence Frontier" srcset=""/>
                    </a>  
                    <div class="card-body">
                        <a href = "product.html">Kadence Frontier </a>
                        <div class="rating">
                            <span>
                                <i class="fa fa-star"></i>
                            </span>
                            <span>
                                <i class="fa fa-star"></i>
                            </span>
                            <span>
                                <i class="fa fa-star"></i>
                            </span>
                            <span>
                                <i class="fa fa-star"></i>
                            </span>
                            <span>
                                <i class="fa fa-star"></i>
                            </span>
                        </div>
                        <div class="price">Rs.9,999/-</div>
                       
                    </div>        
                </div>
                <div class="card">
                    <a href="product.html">
                        <!-- img size:680px X 830 px -->
                        <img class="medium" src="./image/fender_f310.jpg" alt="fender_f310" srcset=""/>
                    </a>  
                    <div class="card-body">
                        <a href = "product.html">fender f310</a>
                        <div class="rating">
                            <span>
                                <i class="fa fa-star"></i>
                            </span>
                            <span>
                                <i class="fa fa-star"></i>
                            </span>
                            <span>
                                <i class="fa fa-star"></i>
                            </span>
                            <span>
                                <i class="fa fa-star"></i>
                            </span>
                            <span>
                                <i class="fa fa-star"></i>
                            </span>
                        </div>
                        <div class="price">Rs.9,999/-</div>
                       
                    </div>        
                </div>
                <div class="card">
                    <a href="product.html">
                        <!-- img size:680px X 830 px -->
                        <img class="medium" src="./image/Yamaha FS100C.jpg" alt="Yamaha FS100C" srcset=""/>
                    </a>  
                    <div class="card-body">
                        <a href = "product.html">Yamaha FS100C</a>
                        <div class="rating">
                            <span>
                                <i class="fa fa-star"></i>
                            </span>
                            <span>
                                <i class="fa fa-star"></i>
                            </span>
                            <span>
                                <i class="fa fa-star"></i>
                            </span>
                            <span>
                                <i class="fa fa-star"></i>
                            </span>
                            <span>
                                <i class="fa fa-star"></i>
                            </span>
                        </div>
                        <div class="price">Rs.9,999/-</div>
                       
                    </div>        
                </div>
                <div class="card">
                    <a href="product.html">
                        <!-- img size:680px X 830 px -->
                        <img class="medium" src="./image/yamaha_f280.jpg" alt="yamaha_f280" srcset=""/>
                    </a>  
                    <div class="card-body">
                        <a href = "product.html">yamaha f280</a>
                        <div class="rating">
                            <span><i class="fa fa-star"></i></span>
                            <span><i class="fa fa-star"></i></span>
                            <span><i class="fa fa-star"></i></span>
                            <span><i class="fa fa-star"></i></span>
                            <span><i class="fa fa-star"></i></span>
                        </div>
                        <div class="price">Rs.9,999/-</div>
                       
                    </div>        
                </div>     
            </div>
        </main>
        <footer class='row center f'>
            <div>All Rights Reserved</div>
            <div> Icons made by <a href="https://www.freepik.com" title="Freepik">Freepik</a> from <a href="https://www.flaticon.com/" title="Flaticon">www.flaticon.com</a></div>
        </footer>
    </div>
    <script src="./random.js" ></script>
</body>
</html>